# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are: python ,R ,julia, java

In [2]:
ordered_list=["python","R","julia","java"]

### Some of the commonly used libraries used by Data Scientists include: 

#### sklearn, keras, pandas, numpy

### | Data Science Tools        
### |--------------------------         
### | Jupyter Notebook          
### | RStudio                         
### | Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
result_add = 3 + 5
print("3 + 5 =", result_add)

3 + 5 = 8

### This a simple arithmetic expression to mutiply then add integers

In [4]:
print((4*3)+5)

17

### This will convert 200 minutes to hours by diving by 60

In [5]:
print(200/60)

3.3333333333333335

## Author

In [ ]:
Robin